
/*******************************************
# 	Page connexion						   #
*******************************************/

#login-form-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
	margin: auto;
	position: relative;
	top: 30px;
	border-radius: 10px;
	padding: 5%;
	border: 2px solid #005aff;
	border-radius: 10px;
	background: #DAE2FF;
}


#login-form-block img {
	width: 200px;
	height: 200px;
}


#login-form-block form * {
	margin: 5px;
}

#login-form-block form button{
	width: 100px;
	border: 2px solid #005aff;
	color: #005aff;
	border-radius: 20px;
}

#login-form-block form button:hover {
	background: #005aff;
	color: #00df00;
}

.back {
	border-color: #ff0000;
	color: #ff0000;
	float: left;
	width: 100px;
	border-radius: 20px;
	margin: 10px;
}

.back a {
	text-decoration: none;
	color: #ff0000;
}
.back a:hover {
	text-decoration: none;
	color: #fff;
}

.back:hover {
	transition: 1s;
	transform-origin: center;
	transform: scale(0.8);
	color: #fff;
	background: #ff0000;
} 

@media(max-width: 768px) {

	#login-form-block {
		width: 100%;
	}
}